flask
flask-cors
flask-pymongo
flask-jwt-extended
flask_socketio
python-dotenv
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
speechrecognition
pyaudio
pydub
numpy
werkzeug
reportlab
pymongo